#{extends 'main.html' /}
#{set title:'Cadastro Geral' /}

<div class="page-wrap">
    <h1>Cadastro Geral</h1>

    <div class="form-card">
        <form action="@{Usuarios.salvar()}" method="POST">

            <h2>Usuário</h2>
            <label>Nome</label>
            <input type="text" name="u.nome" />
            <label>E-mail</label>
            <input type="email" name="u.email" />
            <label>Senha</label>
            <input type="password" name="u.senha" />

            <h2>Equipamento</h2>
            <label>Nome</label>
            <input type="text" name="e.nome" />
            <label>Patrimônio</label>
            <input type="text" name="e.patrimonio" />
            <label>Tipo</label>
            <input type="text" name="e.tipo" />
			<label>Laboratório</label>
			<select name="e.laboratorio">
			    <option value="" disabled selected>Selecione</option>
			    <option value="Lab de Redes">Lab de Redes</option>
			    <option value="Lab de Línguas">Lab de Línguas</option>
			    <option value="Lab de Projetos">Lab de Projetos</option>
			    <option value="Lab 01">Lab 01</option>
			    <option value="Lab 02">Lab 02</option>
			    <option value="Lab 03">Lab 03</option>
			</select>

            <h2>Chamado</h2>
            <label>Titulo</label>
            <input type="text" name="c.titulo" />
            <label>Descrição</label>
            <input type="text" name="c.descricao" />
			<label>Prioridade</label>
			<select name="c.prioridade">
			    <option value="" disabled selected>Selecione</option>
			    <option value="Alta">Alta</option>
			    <option value="Média">Média</option>
			    <option value="Baixa">Baixa</option>
			</select>
			<label>Status</label>
			<select name="c.status">
			    <option value="" disabled selected>Selecione</option>
			    <option value="Em andamento">Em andamento</option>
			    <option value="Concluído">Concluído</option>
			    <option value="Não concluído">Não concluído</option>
			</select>

            <input type="submit" value="Cadastrar" />
        </form>
    </div>
</div>